@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


.homeImage {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('images/background.jpg');
}

.MainHeading {
  color: rgb(244, 248, 248);
  text-shadow: 2px 2px #0e0d0d;
  position: fixed;
  top: 40%;
  left: 27%;
  text-align: center;
  font-family: 'Patrick Hand', cursive;
}

.nav-link {
  font-family: 'Patrick Hand', cursive;
  font-size: 30px;
}

#StartButton {
  background-color: rgb(85, 206, 166);
  font-size: 20px;
  font-family: 'Patrick Hand', cursive;
  color: white;

}


.WhiteLogo {
  max-width: 25%;
  height: 25%;
}

.site-footer {
  background-image: linear-gradient(#1f4037,#99f2c8);
  padding: 20px 0;
  position: absolute;
  left: 0;
  right:0;
  margin-top: 0;
}

.home-site-footer {
  padding: 20px 0;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  font-size: 10px;
}

.HeaderAll {
  background-image: linear-gradient(#1f4037,#99f2c8)
}

.ContactUsBackground {
  background-color:#f1f1f1;
  text-align: center;
  color: black;
}



/* About Section */

.AboutPlanner {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  max-width: 40%;
  margin: auto;
}

.AboutTitle {
text-align: center;
padding-top: 15px;
font-family: 'Patrick Hand', cursive;
color: black;
}

.AboutText {
  font-family: 'Patrick Hand', cursive;
  text-align: center;
  font-size: 25px;
  padding: 0px 70px 0px 70px;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  color: black;
} 

/* CSS for ToDoList */


.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

.TaskHeading {
  margin: 32px 0;
  color: rgb(14, 2, 2);
  font-size: 24px;
  text-align: center;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 75px;
  justify-content: center;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: rgb(14, 13, 13);
  margin: auto;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 50%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.TodoCard {
  margin-top: 2%;
  margin-bottom: 120px;
  margin-right: 2%;
  margin-left: 2%;
  font-family: 'Patrick Hand', cursive;
  background-image: linear-gradient(#99f2c8, #1f4037,#99f2c8);
  border-radius: 50px;
  
}

.TodoListPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  max-width: 40%;
  margin: auto;
  margin-top: 2%;
}

.TodoHeading {
  text-align: center;
  margin-top: 1%;
 padding-top: 10px;
 font-family: 'Patrick Hand', cursive;
 color: black;
}

/* CSS for Sticky Notes */

.stickyHeading { 
  color: rgb(224, 230, 231);
  font-size: 30px;
}

.app {
  padding: 50px;
  height: 100vh;
  background-image: url('images/CorkBoard.png');
  background-size: cover; 
}

.note-form {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.StickyTextArea {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid lightgrey;
  min-width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 10px;
  outline: none;
}

.stickyButton {
  width: 100%;
  background-color: #18c9c0;
  cursor: pointer;
  padding: 10px; 
  border: 0;
  outline: none;
  align-items: center;
}
  .stickyButton:hover {
      background-color: rgb(91, 235, 235);
      color: white;
      margin: auto;
  }

  .notePosted {
    position: absolute;
    cursor: pointer;
    background-image: url('./images/post-it-note.png');
    background-size: cover;
    top: 100px;
    left: 300px;
    height: 200px;
    width: 200px;
    padding: 20px;
    overflow: hidden;
  }
    

    .textInNote {
        font-family: Arial, Helvetica, sans-serif;
        height: 100%;
        width: 100%;
        white-space: pre-wrap;
        overflow-y: scroll;
    }

    .closeNote {
        width: 15px;
        height: 15px;
        position: absolute;
        right: 15px;
        transition: transform .3s ease;
    }

    .closeNote:hover {
      transform: scale(1.6);
    }

     /* Calendar */

     @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
     @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
     
     .icon {
       font-family: 'Material Icons', serif;
       font-style: normal;
       display: inline-block;
       vertical-align: middle;
       line-height: 1;
       text-transform: none;
       letter-spacing: normal;
       word-wrap: normal;
       white-space: nowrap;
       direction: ltr;
     
       -webkit-font-smoothing: antialiased;
       text-rendering: optimizeLegibility;
       -moz-osx-font-smoothing: grayscale;
       font-feature-settings: 'liga';
     }
     
     
     /* VARIABLES */
     
     :root {
       --main-color: #1a8fff;
       --text-color: #777;
       --text-color-light: #ccc;
       --border-color: #eee;
       --bg-color: #f9f9f9;
       --neutral-color: #fff;
     }
     
     
     /* GENERAL */
     
     * {
       box-sizing: border-box;
     }
     
     body {
         font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
         font-size: 1em;
         font-weight: 300;
         line-height: 1.5;
         color: var(--text-color);
         background: var(--bg-color);
         position: relative;
     }
     
     header {
       display: block;
       width: 100%;
       padding: 1.75em 0;
       border-bottom: 1px solid var(--border-color);
       background: var(--neutral-color);
     }
     
     header #logo {
       font-size: 175%;
       text-align: center;
       color: var(--main-color);
       line-height: 1;
     }
     
     header #logo .icon {
       padding-right: .25em;
     }
     
     main {
       display: block;
       margin: 0 auto;
       margin-top: 5em;
       max-width: 50em;
     }
     
     
     /* GRID */
     
     .row {
       margin: 0;
       padding: 0;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       width: 100%;
     }
     
     .row-middle {
       align-items: center;
     }
     
     .col {
       flex-grow: 1;
       flex-basis: 0;
       max-width: 100%;
     }
     
     .col-start {
       justify-content: flex-start;
       text-align: left;
     }
     
     .col-center {
       justify-content: center;
       text-align: center;
     }
     
     .col-end {
       justify-content: flex-end;
       text-align: right;
     }
     
     
     .calendar {
       display: block;
       position: relative;
       width: 100%;
       background: var(--neutral-color);
       border: 1px solid var(--border-color);
     }
     
     .calendar .header {
       text-transform: uppercase;
       font-weight: 700;
       font-size: 115%;
       padding: 1.5em 0;
       border-bottom: 1px solid var(--border-color);
     }
     
     .calendar .header .icon {
       cursor: pointer;
       transition: .15s ease-out;
     }
     
     .calendar .header .icon:hover {
       transform: scale(1.75);
       transition: .25s ease-out;
       color: var(--main-color);
     }
     
     .calendar .header .icon:first-of-type {
       margin-left: 1em;
     }
     
     .calendar .header .icon:last-of-type {
       margin-right: 1em;
     }
     
     .calendar .days {
       text-transform: uppercase;
       font-weight: 400;
       color: var(--text-color-light);
       font-size: 70%;
       padding: .75em 0;
       border-bottom: 1px solid var(--border-color);
     }
     
     .calendar .body .cell {
       position: relative;
       height: 5em;
       border-right: 1px solid var(--border-color);
       overflow: hidden;
       cursor: pointer;
       background: var(--neutral-color);
       transition: 0.25s ease-out;
     }
     
     .calendar .body .cell:hover {
       background: var(--bg-color);
       transition: 0.5s ease-out;
     }
     
     .calendar .body .selected {
       border-left: 10px solid transparent;
       border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
       border-image-slice: 1;
     }
     
     .calendar .body .row {
       border-bottom: 1px solid var(--border-color);
     }
     
     .calendar .body .row:last-child {
       border-bottom: none;
     }
     
     .calendar .body .cell:last-child {
       border-right: none;
     }
     
     .calendar .body .cell .number {
       position: absolute;
       font-size: 82.5%;
       line-height: 1;
       top: .75em;
       right: .75em;
       font-weight: 700;
     }
     
     .calendar .body .disabled {
       color: var(--text-color-light);
       pointer-events: none;
     }
     
     .calendar .body .cell .bg {
       font-weight: 700;
       line-height: 1;
       color: var(--main-color);
       opacity: 0;
       font-size: 8em;
       position: absolute;
       top: -.2em;
       right: -.05em;
       transition: .25s ease-out;
       letter-spacing: -.07em;
     }
     
     .calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
       opacity: 0.05;
       transition: .5s ease-in;
     }
     
     .calendar .body .col {
       flex-grow: 0;
       flex-basis: calc(100%/7);
       width: calc(100%/7);
       margin-bottom: 100px;
     }